.env
.env.*
.python-version
local_settings.py

__pycache__/
*.py[cod]
*$py.class
*.pyd

build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/
.eggs/
pip-wheel-metadata/
sdist/
wheels/
media/

venv/
.venv/
env/
.envrc

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.vscode/
.idea/
.vs/

*.log
*.tmp
*.bak
*.swp
*.swo
*.orig

.DS_Store
Thumbs.db

node_modules/

*.pkl
*.sqlite3
artifacts/
db.sqlite3
theory.txt
